#main {
  text-align: left;
  justify-items: auto;
}

.sell {
  padding: 3.75rem 11.75rem 18.75rem 11.75rem;

}

.sell h3 {
  margin-bottom: 1rem;
  font-size: 40px;
  font-style: bold;
  justify-content: center;
}

form {
  display: grid;
  grid-template-areas: 'name name price quantity'
                       'description description description description'
                       '. . . submit';
  font-size: inherit;
  padding: 25px;
}

a:hover {
color: #E6AF2E;
}

input {
  min-width: 100%;
  box-sizing: border-box;
}

select {
  background-color: hsla(0, 0%, 100%, 1);
  font-size: inherit;
}

textarea {
  min-height: 12rem;
  font-size: inherit;
}

#name {
  grid-area: name;
  padding-right: 15px;
}

#price {
  grid-area: price;
  padding-right: 15px;
}

#quantity {
  grid-area: quantity;
}

#description {
  grid-area: description;
  padding: 15px;
}

#submit {
  grid-area: submit;
  justify-self: end;

}

@media only screen and (max-width: 1100px) {
  .sell {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 970px) {
  form {
    grid-template-areas: 'name name'
                         'price quantity'
                         'description description'
                         '. submit';
  }
}

@media only screen and (max-width: 660px) {
  form {
    grid-template-areas: 'name'
                         'price'
                         'quantity'
                         'description'
                         'submit';
  }

  #submit {
    justify-self: center;
  }
}

.button {
  background-color: #E6AF2E;
  color: white;
  
}

h4 {
   font-style: bold, underline;
   font-size: 20px;
   padding: 8px;
}

.links {
  font-size: 15px;
}